.controls {
    position: absolute;
    bottom: 40px;
    right: 40px;
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
}

@media (max-width: 810px) {
    .controls {
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-wrap: nowrap;
        gap: 5%;
        justify-content: center;
        width: 90%;
        padding: 10px;
    }
    .controls button {
        flex-grow: 1; /* Ensures buttons distribute space evenly */
        text-align: center;
        max-width: 25%;
        min-width: 60px;
        padding: 10px 12px;
        font-size: 12px; /* Makes text smaller so it doesn't overflow */
        white-space: nowrap; /* Prevents text from wrapping */
    }
}
.description {
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 810px) {
    .description {
        font-size: 16px;
    }
}
.title {
    cursor: pointer; /* Makes it clear that the text is clickable */
    pointer-events: auto; /* Ensures clicks are not blocked */
    z-index: 10; /* Ensures it's above the 360 viewer */
    position: relative; /* Helps control stacking */
}
